The first step is coming up with an idea Identify an original business problem for your project.

The second step is locating your data. 

Begin Milestone 1 with a 250-500-word narrative describing an original idea for an analysis/model building business problem.

Then, do a graphical analysis creating a minimum of four graphs.

Label your graphs appropriately and explain/analyze the information provided by each graph.

Write a short overview/conclusion of the insights gained from your graphical analysis.

In [1]:
# Grouping / Classification of documents based on Text Analysis - Part 1 
## Graphics Analysis

import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [13]:
#check versions of packages
print('Python version:')  
!python --version
print('pandas version:', pd.__version__)
print('numpy version:', np.__version__)
# print('scikit-learn version:', sklearn.__version__)
# print('NLTK version:', nltk.__version__)

Python version:
Python 3.8.5
pandas version: 1.2.4
numpy version: 1.19.2

In [2]:
# Setting the parameters for the pandas dataframe

output_width = 1000
#output_width = 80 #//*** Normal Output width
pd.set_option("display.width", output_width)
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

In [14]:
#Step 1: Load data into a dataframe 
filename = "~/Documents/mygithub/bu_dsc/data/external/News_Category_Dataset_v2.json"

df_all = pd.read_json(filename, lines = True)
#display the first few rows of data
df_all.head()

        category                                                                     headline          authors                                                                                                                                        link                                                                        short_description       date
0          CRIME             There Were 2 Mass Shootings In Texas Last Week, But Only 1 On TV  Melissa Jeltsen                                         https://www.huffingtonpost.com/entry/texas-amanda-painter-mass-shooting_us_5b081ab4e4b0802d69caad89             She left her husband. He killed their children. Just another day in America. 2018-05-26
1  ENTERTAINMENT  Will Smith Joins Diplo And Nicky Jam For The 2018 World Cup's Official Song    Andy McDonald  https://www.huffingtonpost.com/entry/will-smith-joins-diplo-and-nicky-jam-for-the-official-2018-world-cup-song_us_5b09726fe4b0fdb2aa541201                                                                 Of course it has a song. 2018-05-26
2  ENTERTAINMENT                              Hugh Grant Marries For The First Time At Age 57       Ron Dicker                                                         https://www.huffingtonpost.com/entry/hugh-grant-marries_us_5b09212ce4b0568a880b9a8c  The actor and his longtime girlfriend Anna Eberstein tied the knot in a civil ceremony. 2018-05-26
3  ENTERTAINMENT        Jim Carrey Blasts 'Castrato' Adam Schiff And Democrats In New Artwork       Ron Dicker                                           https://www.huffingtonpost.com/entry/jim-carrey-adam-schiff-democrats_us_5b0950e8e4b0fdb2aa53e675   The actor gives Dems an ass-kicking for not fighting hard enough against Donald Trump. 2018-05-26
4  ENTERTAINMENT      Julianna Margulies Uses Donald Trump Poop Bags To Pick Up After Her Dog       Ron Dicker                                          https://www.huffingtonpost.com/entry/julianna-margulies-trump-poop-bag_us_5b093ec2e4b0fdb2aa53df70  The "Dietland" actress said using the bags is a "really cathartic, therapeutic moment." 2018-05-26

In [15]:
# Step 2: Display the dimensions of the file (so youâ€™ll have a good idea the amount of data you are working with.
print("The dimension of the table is: ", df_all.shape)

The dimension of the table is:  (200853, 6)

In [17]:
#Step 3: what type of variables are in the table 
# Look at summary information about your data (total, mean, min, max, freq, unique, etc.) 
# Does this present any more questions for you? 
# Does it lead you to a conclusion yet?

print("Describe Data") 
print(df_all.describe()) 
# print("Summarized Data") 
# print(df_all.describe(include='O'))

Describe Data
        category        headline authors                                                                                                                           link short_description                 date
count     200853          200853  200853                                                                                                                         200853            200853               200853
unique        41          199344   27993                                                                                                                         200812            178353                 2309
top     POLITICS  Sunday Roundup          https://www.huffingtonpost.comhttp://www.weather.com/news/science/environment/10-cities-could-run-out-water-20131212?pageno=1                    2012-12-21 00:00:00
freq       32739              90   36620                                                                                                                              2             19712                  100
first        NaN             NaN     NaN                                                                                                                            NaN               NaN  2012-01-28 00:00:00
last         NaN             NaN     NaN                                                                                                                            NaN               NaN  2018-05-26 00:00:00