Online travel agencies are scrambling to meet the artificial intelligence driven personalization standard set by companies like Amazon and Netflix. In addition, the world of online travel has become a highly competitive space where brands try to capture our attention (and wallet) with recommending, comparing, matching, and sharing. For this assignment, we would like to create the optimal hotel recommendations for Expedia’s users that are searching for a hotel to book. For this assignment, you need to predict which “hotel cluster” the user is likely to book, given his (or her) search details.
The data set can be found at Kaggle: Expedia Hotel Recommendations. To get started, I would suggest exploring the file train.csv, which contains the logs of user behavior.  There is another file named destinations.csv, which contains information related to hotel reviews made by users. There is a lot of data here, and making an accurate prediction is rather difficult, e.g., simply running a standard prediction algorithm will probably yield below 10% accuracy. Stary by doing some exploratory analysis of this data to help understand how to make a prediction on the hotel cluster the user is likely to select. Then, split train.csv into a training and test set (feel free to select a smaller random subset of train.csv). Then, build at least two prediction models from the training set, and report the accuracies on the test set. As I mentioned, this is a difficult problem, so be creative with your solutions. You might want to try building your own predictor rather than a standard predictor model, e.g., a random forest.  The purpose of this project is not necessarily to get great results but to understand the nuances and challenges of such problems.

In [2]:
# For this assignment, create the optimal hotel recommendations for Expedia’s users that are searching for a hotel to book. You need to predict which “hotel cluster” the user is likely to book, given his (or her) search details.
# load the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
output_width = 1000
#output_width = 80 #//*** Normal Output width
pd.set_option("display.width", output_width)
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

In [30]:
# Before trying to load the full dataset into a pandas dataframe trying to look at the file contents from the unix command line
train= !wc -l "../../data/processed/expedia/expedia-hotel-recommendations/train.csv"
print("# of rows in the train.csv: ", train)
test= !wc -l "../../data/processed/expedia/expedia-hotel-recommendations/test.csv"
print("# of rows in the test.csv: ", test)

# of rows in the train.csv:  ['37670294 ../../data/processed/expedia/expedia-hotel-recommendations/train.csv']
# of rows in the test.csv:  ['2528244 ../../data/processed/expedia/expedia-hotel-recommendations/test.csv']

In [31]:
# The first 5 rows from the top of the file
!head -5 "../../data/processed/expedia/expedia-hotel-recommendations/train.csv"

date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,channel,srch_ci,srch_co,srch_adults_cnt,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster
2014-08-11 07:46:59,2,3,66,348,48862,2234.2641,12,0,1,9,2014-08-27,2014-08-31,2,0,1,8250,1,0,3,2,50,628,1
2014-08-11 08:22:12,2,3,66,348,48862,2234.2641,12,0,1,9,2014-08-29,2014-09-02,2,0,1,8250,1,1,1,2,50,628,1
2014-08-11 08:24:33,2,3,66,348,48862,2234.2641,12,0,0,9,2014-08-29,2014-09-02,2,0,1,8250,1,0,1,2,50,628,1
2014-08-09 18:05:16,2,3,66,442,35390,913.1932,93,0,0,3,2014-11-23,2014-11-28,2,0,1,14984,1,0,1,2,50,1457,80

In [32]:
# The last 5 rows of the file
!tail -5 "../../data/processed/expedia/expedia-hotel-recommendations/train.csv"

2014-09-02 08:08:28,2,3,66,174,26232,2348.4075,1198182,0,1,2,2014-11-16,2014-11-22,2,0,1,8855,1,0,1,2,50,213,26
2014-09-08 14:52:52,2,3,66,174,26232,679.6104,1198182,0,0,0,2014-10-20,2014-10-25,1,0,1,8281,1,0,1,2,50,663,9
2014-09-15 06:56:51,2,3,66,174,26232,668.1768,1198182,0,0,0,2014-09-15,2014-09-16,1,0,1,5620,3,0,1,2,50,663,94
2014-09-18 08:49:33,2,3,66,462,12565,106.4274,1198182,0,0,0,2014-09-18,2014-09-19,1,0,1,18811,1,0,1,2,50,592,42
2014-09-18 08:52:42,2,3,66,462,12565,106.4274,1198182,0,0,0,2014-09-18,2014-09-19,1,0,1,18811,1,1,1,2,50,592,42

In [4]:
# Load the data into a dataframe 
init_df = pd.read_csv("../../data/processed/expedia/expedia-hotel-recommendations/train.csv")

In [5]:
# Display the info and the shape of the dataframe
init_df.info()
print('The dimension of the dataframe is ', init_df.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37670293 entries, 0 to 37670292
Data columns (total 24 columns):
 #   Column                     Dtype
---  ------                     -----
 0   date_time                  object
 1   site_name                  int64
 2   posa_continent             int64
 3   user_location_country      int64
 4   user_location_region       int64
 5   user_location_city         int64
 6   orig_destination_distance  float64
 7   user_id                    int64
 8   is_mobile                  int64
 9   is_package                 int64
 10  channel                    int64
 11  srch_ci                    object
 12  srch_co                    object
 13  srch_adults_cnt            int64
 14  srch_children_cnt          int64
 15  srch_rm_cnt                int64
 16  srch_destination_id        int64
 17  srch_destination_type_id   int64
 18  is_booking                 int64
 19  cnt                        int64
 20  hotel_continent            int64
 21  hotel_country              int64
 22  hotel_market               int64
 23  hotel_cluster              int64
dtypes: float64(1), int64(20), object(3)
memory usage: 6.7+ GB
The dimension of the dataframe is  (37670293, 24)

In [9]:
# Show the first 5 rows
init_df.head()

             date_time  site_name  posa_continent  user_location_country  user_location_region  user_location_city  orig_destination_distance  user_id  is_mobile  is_package  channel     srch_ci     srch_co  srch_adults_cnt  srch_children_cnt  srch_rm_cnt  srch_destination_id  srch_destination_type_id  is_booking  cnt  hotel_continent  hotel_country  hotel_market  hotel_cluster
0  2014-08-11 07:46:59          2               3                     66                   348               48862                  2234.2641       12          0           1        9  2014-08-27  2014-08-31                2                  0            1                 8250                         1           0    3                2             50           628              1
1  2014-08-11 08:22:12          2               3                     66                   348               48862                  2234.2641       12          0           1        9  2014-08-29  2014-09-02                2                  0            1                 8250                         1           1    1                2             50           628              1
2  2014-08-11 08:24:33          2               3                     66                   348               48862                  2234.2641       12          0           0        9  2014-08-29  2014-09-02                2                  0            1                 8250                         1           0    1                2             50           628              1
3  2014-08-09 18:05:16          2               3                     66                   442               35390                   913.1932       93          0           0        3  2014-11-23  2014-11-28                2                  0            1                14984                         1           0    1                2             50          1457             80
4  2014-08-09 18:08:18          2               3                     66                   442               35390                   913.6259       93          0           0        3  2014-11-23  2014-11-28                2                  0            1                14984                         1           0    1                2             50          1457             21

In [10]:
# Using dask.dataframe 
import dask.dataframe as dd

init_dd = dd.read_csv("../../data/processed/expedia/expedia-hotel-recommendations/train.csv", parse_dates=["date_time"])
init_dd
init_dd.head()

            date_time  site_name  posa_continent  user_location_country  user_location_region  user_location_city  orig_destination_distance  user_id  is_mobile  is_package  channel     srch_ci     srch_co  srch_adults_cnt  srch_children_cnt  srch_rm_cnt  srch_destination_id  srch_destination_type_id  is_booking  cnt  hotel_continent  hotel_country  hotel_market  hotel_cluster
0 2014-08-11 07:46:59          2               3                     66                   348               48862                  2234.2641       12          0           1        9  2014-08-27  2014-08-31                2                  0            1                 8250                         1           0    3                2             50           628              1
1 2014-08-11 08:22:12          2               3                     66                   348               48862                  2234.2641       12          0           1        9  2014-08-29  2014-09-02                2                  0            1                 8250                         1           1    1                2             50           628              1
2 2014-08-11 08:24:33          2               3                     66                   348               48862                  2234.2641       12          0           0        9  2014-08-29  2014-09-02                2                  0            1                 8250                         1           0    1                2             50           628              1
3 2014-08-09 18:05:16          2               3                     66                   442               35390                   913.1932       93          0           0        3  2014-11-23  2014-11-28                2                  0            1                14984                         1           0    1                2             50          1457             80
4 2014-08-09 18:08:18          2               3                     66                   442               35390                   913.6259       93          0           0        3  2014-11-23  2014-11-28                2                  0            1                14984                         1           0    1                2             50          1457             21

In [23]:
init_dd.groupby("user_id").hotel_cluster.count().compute()

user_id
12          3
17         13
93          3
190        21
192        38
           ..
1198184    70
1198287    36
1198302    11
1198465     2
1198618    29
Name: hotel_cluster, Length: 1198786, dtype: int64

In [35]:
# Now loading the first 100,000 from the training set
n_rows = 100_000
train_df = pd.read_csv("../../data/processed/expedia/expedia-hotel-recommendations/train.csv", parse_dates=["date_time"], nrows=n_rows)
train_df.head()

            date_time  site_name  posa_continent  user_location_country  user_location_region  user_location_city  orig_destination_distance  user_id  is_mobile  is_package  channel     srch_ci     srch_co  srch_adults_cnt  srch_children_cnt  srch_rm_cnt  srch_destination_id  srch_destination_type_id  is_booking  cnt  hotel_continent  hotel_country  hotel_market  hotel_cluster
0 2014-08-11 07:46:59          2               3                     66                   348               48862                  2234.2641       12          0           1        9  2014-08-27  2014-08-31                2                  0            1                 8250                         1           0    3                2             50           628              1
1 2014-08-11 08:22:12          2               3                     66                   348               48862                  2234.2641       12          0           1        9  2014-08-29  2014-09-02                2                  0            1                 8250                         1           1    1                2             50           628              1
2 2014-08-11 08:24:33          2               3                     66                   348               48862                  2234.2641       12          0           0        9  2014-08-29  2014-09-02                2                  0            1                 8250                         1           0    1                2             50           628              1
3 2014-08-09 18:05:16          2               3                     66                   442               35390                   913.1932       93          0           0        3  2014-11-23  2014-11-28                2                  0            1                14984                         1           0    1                2             50          1457             80
4 2014-08-09 18:08:18          2               3                     66                   442               35390                   913.6259       93          0           0        3  2014-11-23  2014-11-28                2                  0            1                14984                         1           0    1                2             50          1457             21

In [36]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 24 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   date_time                  100000 non-null  datetime64[ns]
 1   site_name                  100000 non-null  int64
 2   posa_continent             100000 non-null  int64
 3   user_location_country      100000 non-null  int64
 4   user_location_region       100000 non-null  int64
 5   user_location_city         100000 non-null  int64
 6   orig_destination_distance  63078 non-null   float64
 7   user_id                    100000 non-null  int64
 8   is_mobile                  100000 non-null  int64
 9   is_package                 100000 non-null  int64
 10  channel                    100000 non-null  int64
 11  srch_ci                    99929 non-null   object
 12  srch_co                    99929 non-null   object
 13  srch_adults_cnt            100000 non-null  int64
 14  srch_children_cnt          100000 non-null  int64
 15  srch_rm_cnt                100000 non-null  int64
 16  srch_destination_id        100000 non-null  int64
 17  srch_destination_type_id   100000 non-null  int64
 18  is_booking                 100000 non-null  int64
 19  cnt                        100000 non-null  int64
 20  hotel_continent            100000 non-null  int64
 21  hotel_country              100000 non-null  int64
 22  hotel_market               100000 non-null  int64
 23  hotel_cluster              100000 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(20), object(2)
memory usage: 18.3+ MB