In [1]:
# load the libraries
import pandas as pd

In [2]:
output_width = 1000
#output_width = 80 #//*** Normal Output width
pd.set_option("display.width", output_width)
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

In [3]:
# Load the data into a dataframe
housing = pd.read_csv("../../data/processed/Housing.csv",sep=";")

In [4]:
housing.shape

(546, 12)

In [5]:
housing

     lotsize  bedrooms  bathrms  stories  driveway  recroom  fullbase  gashw  airco  garagepl  prefarea   price
0       5850         3        1        2         1        0         1      0      0         1         0   42000
1       4000         2        1        1         1        0         0      0      0         0         0   38500
2       3060         3        1        1         1        0         0      0      0         0         0   49500
3       6650         3        1        2         1        1         0      0      0         0         0   60500
4       6360         2        1        1         1        0         0      0      0         0         0   61000
..       ...       ...      ...      ...       ...      ...       ...    ...    ...       ...       ...     ...
541     4800         3        2        4         1        1         0      0      1         0         0   91500
542     6000         3        2        4         1        0         0      0      1         0         0   94000
543     6000         3        2        4         1        1         0      0      1         1         0  103000
544     6000         3        2        2         1        1         0      0      1         1         0  105000
545     6000         3        1        2         1        0         0      0      1         1         0  105000

[546 rows x 12 columns]

In [ ]:
dataframe = pd.DataFrame(df.iloc[0:5])

In [ ]:
# Load the data into a dataframe
sample = pd.read_csv("../../data/processed/sample_submission.csv")
sample.head(10)

In [ ]:
# Load the data into a dataframe
train_2016 = pd.read_csv("../../data/processed/train_2016_v2.csv")
train_2016.head(10)